<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%= car.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= car.make %> <%= car.model %></h5>
                <p class="card-text"><%= car.year %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= car.odometer%>km</li>
                <li class="list-group-item"><%= car.bodyType%></li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/cars/<%=car._id%>/edit">Edit</a>
                <form class="d-inline" action="/cars/<%=car._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>
</div>